/**/

.button
{
  border-radius: 5px;
  margin-top: 2px;
}

#display{
  border-color: whitesmoke;
  border-radius: 5px;
  background-color:white; 
  width: 95%;
  margin-left: 2.5%;
  text-align: right;
  font-family: Times New Roman;
  font-size: 60px;
}
body{
  background-color:whitesmoke;
}

h1{
  font-family: 'Times New Roman';
}
